*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, #FF0000 0%, rgba(255, 255, 255, 0) 100%);
    height: 100vh;
}

header{
    list-style: none;
    display: flex;
    column-gap: 30px;
    color:white;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 400px;
    margin-top: 90px;
}

form > input {
    height: 35px;
    border-radius: 9px;

    
}

form > input:hover{
    background-color:gray;
}
input[type="submit"]{
    width: 110%;
    background-color: red;
    font-size: 1.7rem;
    color: aliceblue;
    margin-top: 50px;
    border-radius: 10px;
    text-decoration: none;
}

form > label{
    font-size: 1.3rem;
    color: white;
}
@media  screen and (max-width:800px) {
    header{
        width: 20px;
        height: 100px;
    }
    aside > img{
        margin-top: 70px;
    }
}

